<% layout('boilerplate') %>
<link rel="stylesheet" href="../../gp.css">
<%- include('header') %>
    
       
<div class="postbox">
    <h1><%= foundpost.user %></h1>
    <p><%=foundpost.post%></p>
    <h2><a href="/">back</a><a href="/post/<%= foundpost._id %>/edit"> edit</a></h2>
    <form action="/post/<%= foundpost._id %>/like?_method=PUT" method="post">
        <button class="likebutton"><i class="fa-solid fa-heart"></i><%= foundpost.likes %></button>                    
    </form>
    <form class="delform" action="/post/<%= foundpost._id %>/delete?_method=DELETE" method="post">
        <button class="deletebutton"><i class="fa-solid fa-trash"></i></button>
    </form>
</div>
            
 
</body>


</html>
<style>

    .postbox{
        width:60%;
        margin:auto;
        padding:5em;

    }
    h1{
        font-size:3em;
    }
    p{
        font-size:2em;
    }

    a{
        font-size:1.1em;
    }
    
</style>
